@use "mixins" as *; 

.scrollbar-none {
	&::-webkit-scrollbar {
		inline-size: 0px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border: 0 none transparent;
		background-color: transparent;

		@include any-hover {
			background-color: transparent;
		}
	}
}

/* =========================================================
   Global Overlay utility
   ========================================================= */

html.overlay-open {
	overflow: hidden;
	scrollbar-gutter: stable;
}

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(1px);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;

	z-index: 500; // ниже модалки, выше контента

	&.is-active {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}
